@import "bootstrap/scss/bootstrap";

.feedspace {
  background-color: #00000042;
  overflow-y: scroll;
  height: 79vh;
  .message {
    width: fit-content;
    margin: 0 auto;
  }
}

.img {
  width: 320px;
  height: 240px;
  background-color: red;
}

.tac {
  text-align: center;
}
